# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Env
env/
venv/
ENV/
.env

# VSCode
.vscode/

# Migrations
*/migrations/
!*/migrations/__init__.py

# Pre-commit
.pre-commit-config.yaml

# Logs
logs/
